Dear User, this message is from <%= @app_name %>

You had change your email address on 'of.openfoundry.org'.


NOTICE! 

**DO NOT CLICK THE LINK**, if you havn't regist on our website.



Click on the following link to confirm your email modification:

<a href="<%= @url%>">Click me!</a>

<%= @url %>
