<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= _("OpenFoundry") %> -- <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'openfoundry' %>
  <%= javascript_include_tag "prototype", "effects" %>
</head>
<body>
<link href="http://www.openfoundry.org/templates/rt_versatility_ii_sienna/css/header.css" rel="stylesheet" type="text/css" />
<div id="header">
	<a href="http://rt.openfoundry.org/of" title="OpenFoundry......"><span id="logo">&nbsp;</span></a>
	<div id="access"></div>
	<span id="rightbg">&nbsp;</span>
	<span id="search">
		<%= render :partial => 'partials/search'%>	
	</span>
	<div id="top">
		<a href="http://rt.openfoundry.org" target="_black"><img src="http://www.openfoundry.org/images/stories/open_foundry.gif" border="0" alt="OpenFoundry" /></a>      &nbsp;&nbsp;
		<a href="http://whoswho.openfoundry.org" target="_black"><img src="http://www.openfoundry.org/images/stories/whoswho.gif" border="0" alt="who&#39;swho" /></a>
    </div>
</div>

<div id="MiddlePane">
<div id="LeftWidget">
<br/>
<%= render :partial => 'partials/login' %>
<div id="LeftMenu">
<ul>
	<li>
<%= link_to _("Home"), { :action => :index, :controller => :openfoundry} %>
	</li>
</ul>
<h3>User</h3>
<ul>
	<li>
		<%= link_to "Change Password", { :action => :change_password, :controller => :user} %>
	</li>
	<li>
		<%= link_to "User Home", { :action => :home, :controller => :user} %>
	</li>
	<li>
		<%= link_to "User Data", { :action => :edit, :controller => :user} %>
	</li>
        <li>
                <%= link_to "Online Users", { :action => :online_users, :controller=> :user} %>
        </li>
</UL>
<h3>Project</h3>
<ul>
	<li>
		<%= link_to "Project List", { :action => :list, :controller => :project} %>
	</li>
	<li>
		<%= link_to "Create Project", { :action => :new, :controller => :project} %>
	</li>
</UL>
</div>
	<h3>Tag Cloud</h3>
	<%= render :partial => 'partials/tagcloud'%>
</div>

<div id="MainContent">
<div id="MainBody">
<p style="color: green"><%= flash[:notice] %></p>
	<%= yield :layout %>
</div>
</div>
</div>

<div id="Footer">
<hr/>
OSSF Supports Software Freedom. For Optimum Result: IE5.5 or Firefox1.0 above. Resolution 1024*768.<br/>
Privacy Policy | Terms of Use
</div>

</body>
</html>
