<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= _("OpenFoundry") %> -- <%= controller.action_name %></title>
	<%= stylesheet_link_tag "scaffold", "openfoundry", "header", "transmenu" %>
  <%= javascript_include_tag "prototype", "effects", "application", "transmenu" %>
  <%= javascript_include_tag 'calendar/calendar' %>
  <%= javascript_include_tag "calendar/lang/calendar-en.js" %>
  <%= javascript_include_tag 'calendar/calendar-setup' %>
  <%= stylesheet_link_tag 'calendar' %>
</head>

<body >
  
<div id="header">
	<a href="/" title="OpenFoundry......"><span id="logo">&nbsp;</span></a>
	<div id="rightbg">&nbsp;</div>
	<div id="header-toolbar">
		<a href="http://www.openfoundry.org" target="_black">OSSF</a> | 
		<a href="http://whoswho.openfoundry.org" target="_black">Who's Who</a> | 
    <%= render :partial => 'partials/lang'%>
	</div>
	<div id="search">
      <%= render :partial => 'partials/search'%>	
  </div>
</div>

<div id="toolbar">
  <div id="nav">
    <div id="mtm_menu">
      <script>var menudata=[
        {id: '<%=_('menu_OpenFoundry')%>', url:'/',
		submenu:[
                        {id:'<%=_('menu_Home')%>', url:'/'},
                        {id:'<%=_('OpenFoundry News')%>', url:'/news'},
                        {id:'<%=_('menu_About OSSF')%>', url:'http://www.openfoundry.org/About-OSSF.html'},
                        {id:'<%=_('menu_Newsletter')%>', url:'http://www.openfoundry.org/Newsletter.html'}
		]
	},
        {id:'<%=_('menu_Project')%>', url:'/projects',
		submenu:[
                        {id:'<%=_('menu_Overview')%>', url:'/projects'},
			{id:'最新釋出(x)', url:'m1s1ur2'},
			{id:'活躍專案(x)', url:'m1s1ur2'},
			{id:'新進專案(x)', url:'m1s1ur2'},
                        {id:'<%=_('menu_Project News')%>', url:'/news/project'},
			{id:'下載排行(x)', url:'m1s1ur2'},
			{id:'徵人啟事(x)', url:'m1s1ur2'},
                        {id:'<%=_('menu_WebHosting')%>', url:'http://webhosting.openfoundry.org/'},
                        {id:'<%=_('menu_New Project')%>', url:'/projects/new'}
		]
	},
        {id:'<%=_('menu_My Account')%>', url:'/user/home',
		submenu:[
                        {id:'<%=_('menu_Preference')%>', url:'/user/edit'},
                        {id:'<%=_('menu_Password')%>', url:'/user/change_password'},
                        {id:'<%=_('menu_My Pages')%>', url:'/user/home'},
                        {id:'<%=_('menu_My Projects')%>', url:'m1s1ur2'},
                        {id:'<%=_('menu_My Tickets')%>', url:'',
    		submenu:[
    			{id:'Owner', url:'/rt/owner'},
          {id:'Creator', url:'/rt/creator'},
    			{id:'Requestor', url:'/rt/requestor'},
    			{id:'LastUpdatedBy', url:'/rt/lastupdatedby'}
    		]
      },
                        {id:'<%=_('menu_New Project')%>', url:'/projects/new'}
		]
	},
        {id:'<%=_('menu_License Wizard')%>', url:'http://www.openfoundry.org/index.php?option=com_content&task=view&id=134&Itemid=269',
		submenu:[
			{id:'授權指引 v2.2', url:'http://swan.iis.sinica.edu.tw/LicenseWizard2/LicenseWizard.cgi'},
      {id:'授權精靈 v3.2', url:'http://swan.iis.sinica.edu.tw/LicenseWizard/index.htm'},
      {id:'說明', url:'http://www.openfoundry.org/index.php?option=com_content&task=view&id=134&Itemid=269'}
		]  
  },
  {id:'<%=_('menu_Help')%>', url:'http://rt.openfoundry.org/Foundry/Help/',
		submenu:[
      {id:'關於本手冊', url:'http://rt.openfoundry.org/Foundry/Help/'},
			{id:'專案管理平台介紹', url:'http://rt.openfoundry.org/Foundry/Help/1-02.html'},
      {id:'一般使用者功能', url:'http://rt.openfoundry.org/Foundry/Help/2-01.html'},
      {id:'專案管理者功能', url:'http://rt.openfoundry.org/Foundry/Help/3-01.html'},
      {id:'專案管理服務平台功能', url:'http://rt.openfoundry.org/Foundry/Help/vcs/OpenFoundry%20_.html'},
      {id:'<%=_('Download PDF')%>', url:'http://rt.openfoundry.org/Foundry/Help/ossf.pdf'}
		]  
  },
  {id:'<%=_('menu_Contact Us')%>', url:'m3url',
		submenu:[
			{id:'聯絡方式(x)', url:'m1s1ur2'},
			{id:'錯誤回報(x)', url:'m1s1ur2'}
			
		]
	}
	]; </script>
    </div>
  </div>
  <div id="shortcut_area">
    &nbsp;<a href="javascript: HeaderOnOff()" title="Header On/Off"><img id="HeaderOnOffImage" src="/images/HeaderOnOff_Off.gif"/></a>
  </div>
</div>

<div id="SiteMap">
  <div id="Login"><%= render :partial => 'partials/login' %></div>
  <div id="BreadCrumbs"><%= breadcrumbs %></div>
</div>

<div id="MiddlePane">
  <div id="MainContent">
    <%if params["project_id"] != nil%>
      <h1><%=@project.summary%></h1>
    <%end%>
    <div id="Flash"><%= show_flash %></div>
    <%= yield :layout %>
  </div>
  <div id="LeftWidget">   
    <%if params["project_id"] != nil%>
      <div class="project_logo_border">
        <div id='project_logo'>
        <img src="<%= url_for(:controller => :images, :action => "image", :id => @project.icon) %>"/>
        </div>
        <span><br/>  
          <%if current_user.has_role?('Admin',Project.find_by_id(params["project_id"]))%>
            <img src="/images/green_arrow_right.gif"/> <a href="#" onclick="Effect.toggle('UploadImage','appear'); return false"><%=_('Change Icon')%></a></span>
          <%end%>
      </div>
          <%= render :partial => 'images/edit', :locals => 
          {:image_id => @project.icon, :id => @project.id, :type => 'Project', :back_to => project_path(@project) }%>
    <%end%>

  	<%if params["project_id"] != nil%>

      <div id="LeftMenu">
        <%=render :partial => "partials/project_menu", :locals => {:project => @project}%>
      </div>
    <%else%>
      <div id="HomeLeft">
        <%= render :partial => 'openfoundry/staticities', :locals => {:userCount => User.count(), :projectCount => Project.count(:conditions => Project.in_used_projects())} %>
        <%= render :partial => 'releases/most_popular', :locals => {:downloadList => Release.top_download} %>
        <%= render :partial => 'projects/new_projects', :locals => {:projectList => Project.new_projects} %>
        <%= render :partial => 'partials/tagcloud'%>
        
        <h3><img src="/images/of/icon01.gif" align="left" /><%=_('Steering Organization')%></h3>
        <div style="text-align:center;">
          <a href="http://www.iis.sinica.edu.tw/" target="_blank">
            <img src="http://www.openfoundry.org/images/stories/iis_logo.jpg" title="Institute of Information Science Academia Sinica" style="text-align:center;"/> 
          </a>
          <a href="http://web.nsc.gov.tw/default.asp" target="_blank">
            <img src="http://www.openfoundry.org/images/stories/nsc.jpg" title="行政院國家科學委員會">
          </a>
        </div>

      </div>
    <%end%>
  </div>
</div>
<br clear="all" />

<div id="Footer">
<hr/>
OSSF Supports Software Freedom. For Optimum Result: IE5.5 or Firefox1.0 above. Resolution 1024*768.<br/>
<a href="http://www.openfoundry.org/index.php?option=com_content&task=view&id=879&Itemid=1">Privacy Policy</a> | <a href="http://www.openfoundry.org/index.php?option=com_content&task=view&id=880&Itemid=1">Terms of Use</a>
</div>

</body>
</html>
