<h1>關於本手冊</h1>

<P class=psize>歡迎使用自由軟體鑄造場 OpenFoundry，您可以利用OpenFoundry使用手冊(以下簡稱「本手冊」)快速入門OpenFoundry的操作及使用步驟。
本手冊主要目的是，讓從未接觸過自由軟體鑄造場之OpenFoundry的新使用者，對OpenFoundry的相關服務功能，有個初步的了解，並解決操作上的種種疑惑。</p>
<p class=psize>OpenFoundry，是一個專門為自由軟體專案開發人員、管理人員以及一般使用者而設置之共同平台。自由軟體鑄造場依循專案開發者之工作模式，整合既有的自由軟體開發工具模組，建立符合軟體開發者需求的工作平台，達到滿足軟體開發的需求，減輕專案管理負擔。
本手冊含概範圍包括：
<ul class=psize>(1)提供一個共同開發軟體專案所需之工具及服務之使用手冊說明<br>
(2)提供專案管理所需之相關工具及服務之使用手冊說明<br>
(3)彙整一般使用者所需之自由軟體、說明文件與使用手冊等資源</ul>
</p>
  
<p class=psize>您可以透過電子郵件之服務，將您寶貴的意見及相關問題寄信至E-mail：<A href="mailto:contact@openfoundry.org">contact@openfoundry.org</A>，自由軟體鑄造場工作人員，將會儘速為您回答相關問題。</p>
<p align="center"><a href="1-02.html"><img src="images/next.jpg" width="22" height="22" border="0"></a></p>
