<h3><img src="/images/of/icon02.gif" align="left" /><%=_('Top Download')%></h3>
<ul>
  <%for download in downloadList %>
    <li>
      <%= link_to h(download.name), "/projects/#{download.project_id}/releases/#{download.id}" %>
    </li>
  <%end %>
</ul>
<%= link_to _("More..."), :controller => 'releases', :action => 'top' %>
