<% if @user and @partners %>
<dl>
  <dt>
  </dt>
  <dd>
    <div>
      <% @partners.each do |p| %>
        <%=user_portrait_link(p, :float => 'left')%>
      <% end %>
      <br clear="all"/>
    </div>
  </dd>
</dl>
<%end%>
