<% columns = Downloader.content_columns%>
<% columns.reject!{|col| ['file', 'creator', 'updated_at', 'created_at', 'updated_by'].include? col.name} %>
<div>
  <table class="list-table">
    <tr>
      <% columns.each do |col|%>
        <th>
          <%= s_("survey|#{col.name}") %>
        </th>
        <% end %>
    </tr>
    <% @downloaders.each_with_index do |downloader, i| %>
    <% classname = (i%2 == 0 ? 'odd':'even')%>
      <tr class="<%=classname%>">
        <% columns.each do |col| %>
          <td>
            <%= downloader.send(col.name) %>
            <%#= arranged 'downloaders_list', downloader ,:fields_per_column => 4%>
          </td>
        <% end %>
      </tr>
    <% end %>
</table>
</div>
