<% columns ||= 7 %>
<table class="list-table">
  <tr>
    <% users.each_with_index do |user, i| %>
      <td>
        <div class="SwitchUsersSelection">
          <%= render :partial => "switch_user_selection", :locals => {:user => user} %>
        </div>
      </td>
      <% if i%columns == columns-1 %>
      </tr><tr>
      <% elsif i == users.length-1 %>
        <% (i%columns).upto(columns-1) do %>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
        <% end %>
      <% end %>
    <% end %>        
  </tr> 
</table>
