<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= _("OpenFoundry") %> -- <%= controller.action_name %></title>
	<%= stylesheet_link_tag "scaffold", "openfoundry", "header", "transmenu" %>
  <%= javascript_include_tag "application", "prototype", "effects", "transmenu" %>
  <%= javascript_include_tag 'calendar/calendar' %>
  <%= javascript_include_tag "calendar/lang/calendar-en.js" %>
  <%= javascript_include_tag 'calendar/calendar-setup' %>
  <%= stylesheet_link_tag 'calendar' %>
</head>

<body >
  
<div id="header">
	<a href="/" title="OpenFoundry......"><span id="logo">&nbsp;</span></a>
	<div id="rightbg">&nbsp;</div>
	<div id="header-toolbar">
		<a href="http://www.openfoundry.org" target="_black">OSSF</a> | 
		<a href="http://whoswho.openfoundry.org" target="_black">Who's Who</a> | 
    <%= render :partial => 'partials/lang'%>
	</div>
	<div id="search">
      <%= render :partial => 'partials/search'%>	
  </div>
</div>

<div id="toolbar">
  <div id="nav">
    <div id="mtm_menu">
      <script>var menudata=[
	{id:'OpenFoundry', url:'/',
		submenu:[
			{id:'首頁', url:'/'},
			{id:'OpenFoundry新聞 ', url:'/news'},
			{id:'關於OSSF', url:'http://www.openfoundry.org/index.php?option=com_content&task=blogcategory&id=69&Itemid=114&lang=tw'},
			{id:'自由軟體鑄造場電子報', url:'http://www.openfoundry.org/index.php?option=com_letterman&Itemid=92&lang=tw'}
		]
	},
	{id:'專案', url:'/projects',
		submenu:[
			{id:'專案一覽', url:'/projects'},
			{id:'最新釋出(x)', url:'m1s1ur2'},
			{id:'活躍專案(x)', url:'m1s1ur2'},
			{id:'新進專案(x)', url:'m1s1ur2'},
			{id:'專案新聞', url:'/news/project'},
			{id:'下載排行(x)', url:'m1s1ur2'},
			{id:'徵人啟事(x)', url:'m1s1ur2'},
			{id:'專案網頁空間', url:'http://webhosting.openfoundry.org/'},
			{id:'註冊專案', url:'/projects/new'}
		]
	},
	{id:'個人', url:'/user/home',
		submenu:[
			{id:'偏好設定', url:'/user/edit'},
      {id:'修改密碼', url:'/user/change_password'},
			{id:'我的首頁', url:'/user/home'},
			{id:'我的專案', url:'m1s1ur2'},
			{id:'我的待辦事項', url:'',
    		submenu:[
    			{id:'Owner', url:'/rt/owner'},
          {id:'Creator', url:'/rt/creator'},
    			{id:'Requestor', url:'/rt/requestor'},
    			{id:'LastUpdatedBy', url:'/rt/lastupdatedby'}
    		]
      },
			{id:'註冊專案', url:'/projects/new'}
		]
	},
	{id:'授權 指引/精靈', url:'http://www.openfoundry.org/index.php?option=com_content&task=view&id=134&Itemid=269',
		submenu:[
			{id:'授權指引 v2.2', url:'http://swan.iis.sinica.edu.tw/LicenseWizard2/LicenseWizard.cgi'},
      {id:'授權精靈 v3.2', url:'http://swan.iis.sinica.edu.tw/LicenseWizard/index.htm'},
      {id:'說明', url:'http://www.openfoundry.org/index.php?option=com_content&task=view&id=134&Itemid=269'}
		]  
  },
	{id:'說明', url:'http://rt.openfoundry.org/Foundry/Help/',
		submenu:[
      {id:'關於本手冊', url:'http://rt.openfoundry.org/Foundry/Help/'},
			{id:'專案管理平台介紹', url:'http://rt.openfoundry.org/Foundry/Help/1-02.html'},
      {id:'一般使用者功能', url:'http://rt.openfoundry.org/Foundry/Help/2-01.html'},
      {id:'專案管理者功能', url:'http://rt.openfoundry.org/Foundry/Help/3-01.html'},
      {id:'專案管理服務平台功能', url:'http://rt.openfoundry.org/Foundry/Help/vcs/OpenFoundry%20_.html'},
      {id:'Download PDF', url:'http://rt.openfoundry.org/Foundry/Help/ossf.pdf'}
		]  
  },
	{id:'聯絡我們', url:'m3url',
		submenu:[
			{id:'聯絡方式', url:'m1s1ur2'},
			{id:'錯誤回報', url:'m1s1ur2'}
			
		]
	}
	]; </script>
    </div>
  </div>
  <div>
    
  </div>
</div>

<div id="SiteMap">
  <div id="Login"><%= render :partial => 'partials/login' %></div>
  <div id="BreadCrumbs"><%= breadcrumbs %></div>
</div>

<div id="MiddlePane">
  <div id="MainContent">
    <%if params["project_id"] != nil%>
      <h1><%=@project.summary%></h1>
    <%end%>
    <div id="Flash"><%= show_flash %></div>
    <%= yield :layout %>
  </div>
  <div id="LeftWidget">   
    <%if params["project_id"] != nil%>
      <div class="project_logo_border">
        <div id='project_logo'>
        <img src="<%= url_for(:controller => :images, :action => "image", :id => @project.icon) %>"/>
        </div>
        <span><br/>  <img src="/images/green_arrow_right.gif"/> <a href="#" onclick="Effect.toggle('UserImage','appear'); return false">更換圖示</a></span>
          <%= render :partial => 'images/edit', :locals => 
          {:image_id => @project.icon, :id => @project.id, :type => 'Project', :back_to => project_path(@project) }%>
      </div>
    <%end%>

  	<%if params["project_id"] != nil%>

      <div id="LeftMenu">
        <%=render :partial => "partials/project_menu", :locals => {:project => @project}%>
      </div>
    <%else%>
      <div id="HomeLeft">
        <h3><img src="/images/of/icon06.gif" align="left" />活躍專案</h3>
        <ul>
          <li>Create Animation Make a</li>
          <li>TinyTux with Pho ... Make a</li>
          <li>Buddy Make a porthole !</li>
        </ul>
        <h3><img src="/images/of/icon02.gif" align="left" />下載排行</h3>
        <ul>
          <li>Create Animation Make a</li>
          <li>TinyTux with Pho ... Make a</li>
          <li>Buddy Make a porthole !</li>
        </ul>
        <h3><img src="/images/of/icon01.gif" align="left" />統計資訊</h3>
        <ul>
          <li>Create Animation Make a</li>
          <li>TinyTux with Pho ... Make a</li>
          <li>Buddy Make a porthole !</li>
        </ul>
        <h3></h3>
        <h3><img src="/images/of/icon01.gif" align="left" /><%= _('Tag Cloud') %></h3>
        <%= render :partial => 'partials/tagcloud'%>
      </div>
    <%end%>
  </div>
</div>
<br clear="all" />

<div id="Footer">
<hr/>
OSSF Supports Software Freedom. For Optimum Result: IE5.5 or Firefox1.0 above. Resolution 1024*768.<br/>
<a href="http://www.openfoundry.org/index.php?option=com_content&task=view&id=879&Itemid=1">Privacy Policy</a> | <a href="http://www.openfoundry.org/index.php?option=com_content&task=view&id=880&Itemid=1">Terms of Use</a>
</div>

</body>
</html>
