<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= _("OpenFoundry") %> -- <%= controller.action_name %></title>
	<%= stylesheet_link_tag "scaffold", "openfoundry", "header", "transmenu" %>
  <%= javascript_include_tag "application", "prototype", "effects", "transmenu" %>
  <%= javascript_include_tag 'calendar/calendar' %>
  <%= javascript_include_tag "calendar/lang/calendar-en.js" %>
  <%= javascript_include_tag 'calendar/calendar-setup' %>
  <%= stylesheet_link_tag 'calendar' %>
  <%= javascript_include_tag 'widgets/tooltip' %>
  <%= javascript_include_tag 'lightbox' %>
  <%= stylesheet_link_tag 'lightbox' %>
</head>

<body >
  
<div id="header">
	<a href="/" title="OpenFoundry......"><span id="logo">&nbsp;</span></a>
	<div id="rightbg">&nbsp;</div>
	<div id="header-toolbar">
		<a href="http://www.openfoundry.org" target="_black">OSSF</a> | 
		<a href="http://whoswho.openfoundry.org" target="_black">Who's Who</a> | 
    <%= render :partial => 'partials/lang'%>
	</div>
	<div id="search">
      <%= render :partial => 'partials/search'%>	
  </div>
</div>

<div id="toolbar">
  <div id="nav">
    <div id="mtm_menu">
    </div>
  </div>
  <div>
    
  </div>
</div>

<div id="SiteMap">
  <div id="Login"><%= render :partial => 'partials/login' %></div>
  <div id="BreadCrumbs"><%= breadcrumbs %></div>
</div>

<div id="MiddlePane">
  <div id="MainContent">
    <div id="Flash"><%= show_flash %></div>
    <%= yield :layout %>
  </div>
  <div id="LeftWidget">   
    <%if params["project_id"] != nil%>
     <img src="<%= url_for(:controller => :images, :action => "image", :id => @project.icon) %>"/>
    <%end%>

  	<%if params["project_id"] != nil%>

      <div id="LeftMenu">
        <%=render :partial => "partials/project_menu", :locals => {:project => @project}%>
      </div>
    <%else%>
      <div id="HomeLeft">
        <h3><img src="/images/of/icon06.gif" align="left" />活躍專案</h3>
        <ul>
          <li>Create Animation Make a</li>
          <li>TinyTux with Pho ... Make a</li>
          <li>Buddy Make a porthole !</li>
        </ul>
        <h3><img src="/images/of/icon02.gif" align="left" />下載排行</h3>
        <ul>
          <li>Create Animation Make a</li>
          <li>TinyTux with Pho ... Make a</li>
          <li>Buddy Make a porthole !</li>
        </ul>
        <h3><img src="/images/of/icon01.gif" align="left" />統計資訊</h3>
        <ul>
          <li>Create Animation Make a</li>
          <li>TinyTux with Pho ... Make a</li>
          <li>Buddy Make a porthole !</li>
        </ul>
        <h3></h3>
        <h3><img src="/images/of/icon01.gif" align="left" /><%= _('Tag Cloud') %></h3>
        <%= render :partial => 'partials/tagcloud'%>
      </div>
    <%end%>
  </div>
</div>
<br clear="all" />

<div id="Footer">
<hr/>
OSSF Supports Software Freedom. For Optimum Result: IE5.5 or Firefox1.0 above. Resolution 1024*768.<br/>
<a href="http://www.openfoundry.org/index.php?option=com_content&task=view&id=879&Itemid=1">Privacy Policy</a> | <a href="http://www.openfoundry.org/index.php?option=com_content&task=view&id=880&Itemid=1">Terms of Use</a>
</div>

</body>
</html>
