/* For All */
* {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
  color:#666;
}
h1 { font-size:20px; }
h2 { font-size:18px; }
h3 { font-size:16px; }
h4 { font-size:14px; }
h1, h2, h3, h4 { color:#31659C; margin:3px; }
/*input[type="button"], input[type="submit"], input[type="reset"] { color:#31659C; background-color:#C6D3F7; }*/
label { font-weight:bold; }
fieldset { border:solid 2px #DEE7FF; }
fieldset legend { font-weight:bold; color:#4265DE; }
a { text-decoration: none; color:#0D356F; }
a:hover { color: #577FE3; /*border-bottom: dotted 1px #333;*/ }
textarea { height:100px; width:500px; }
ul { margin:0px; padding:0 5px 0 20px; list-style-position:outside; list-style:url(/images/of/icon_s01.gif); }
.button { background:url(/images/of/button_bg01.gif) repeat-x; color:white; padding:0px; margin:0px; cursor:pointer; border:solid 1px white;}
.button:hover { background-position:bottom; }
.odd { }
.even { background-color:#EFF4FF; }

/* For Layout */
body { 
	behavior: url(http://l:3000/stylesheets/csshover2.htc); /* call hover behaviour file */
  margin: 0px;
}
/*width:227px; */
#MiddlePane { 
  padding-left:227px;
  margin:0;    
  min-width: 450px; /* LC fullwidth + CC padding */  
 }
#LeftWidget, #MainContent { float:left; position:relative; }
#LeftWidget {
  width: 227px; /* LC width */  
  right: 227px; /* LC fullwidth */  
  margin-left: -99%;
}
#MainContent { width: 99%; }
* html #LeftWidget { left:0; /* RC fullwidth */ }/*IE fix*/

#SiteMap {font-weight:bold; border-bottom:solid 2px #F3F3F9; margin-bottom:3px; height:25px; }
#Login { float:left; text-indent:5px; line-height:25px }
#BreadCrumbs { padding-left:227px; }
#BreadCrumbs a { color:#aaa; }

#RightWidget { float:right; width:34%; overflow:hidden;	}
#Home { width:63%; }

#Footer {
  padding:30px 0px 10px 0px;
  text-align:center;
  clear:both;
  width:100%;
  float:right;
}


/* For HomePage */

/*
#Login { background:url(/images/of/login_bg.gif) repeat-x; padding:5px; width:215px; }
#Login h3 { background-image:url(/images/of/login_01.gif); height:25px; padding:12px 0px 0px 35px; margin:-5px; color:white;  }
#Login img { border:solid 2px #999999; }
*/

#HomeLeft h3, #HomeRight h3 { background-image:url(/images/of/icon_bg01.gif); color:#39379C; line-height:33px; width:214px; font-weight:normal; }
#HomeLeft ul, #HomeRight ul, #Home ul { margin:5px 0 15px 0px; width:80%}
#Home { border-right:solid 1px #F3F3F9; border-left:solid 1px #F3F3F9; }
#Home h3 { background-image:url(/images/of/main_title_bg01.gif); color:#686868; line-height:38px; font-weight:normal; }

#OFIntro { height:200px; margin:0px 15px; border-bottom:solid 1px #F3F3F9; }
#OFIntro #Module { float:right; }
#OFIntro #Module img { opacity:0.6; padding:8px; }
#OFIntro #Module img:hover { opacity:1; }
#OFIntro #Module a { font-size:15px; }


/* Left menu */
#LeftMenu { width:180px; }
#LeftMenu ul{
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
	padding:0px;
  margin:0px;
  width:100%;
  background:#ffffff;
}
#LeftMenu ul{
  padding-left:0px;
}
#LeftMenu li {
  position:relative;
	display:block;
	padding-left:20px;/*ul margin 20px*/
	background:url(http://www.openfoundry.org/templates/rt_versatility_ii_sienna/images/play.png) no-repeat;
	margin-bottom:3px;
  border-bottom:dotted 1px #ccc;
}
#LeftMenu li ul {
  display:none;
  left:100.1%;
  position:absolute;
  top:0pt;
  margin-left:0px !important;/*FF*/
  margin-left:-20px;/*IE*/
  background-color:#DAE3F9;
}
#LeftMenu li:hover { background-color:#DAE3F9; }
#LeftMenu ul ul,
#LeftMenu ul li:hover ul ul,
#LeftMenu ul ul li:hover ul ul
{display: none;}

#LeftMenu ul li:hover ul,
#LeftMenu ul ul li:hover ul,
#LeftMenu ul ul ul li:hover ul
{display: block;}

#LeftMenu a { display:block; }
#LeftMenu .subimg { background:url(/images/subimg.png) no-repeat right; }



/* For Project */
#ProjectNew p label, #ProjectEdit p label, #ProjectEdit fieldset label, .form-padding label
  { margin-left:-20px; }
.form-padding label
  { margin-left:-20px; display:block; }
#ProjectNew p, #ProjectEdit p, #ProjectEdit fieldset, .form-padding
  { padding-left:20px; }
#ProjectNew :focus, #ProjectEdit :focus, * :focus
  { color:#2332AE; font-weight:bold; }
/*#ProjectList img { width:32px; height:32px; display:none; }*/
#ProjectList table { border-collapse:collapse; width:99%; margin:2px; }
#ProjectList td, #ProjectList th { padding:5px; border:solid 1px black; } 
#ProjectList th { background-color:#DEE7FF; }


.module_tab, #TabNav { border-bottom:solid 2px #DEE7FF; }
.module_tab, #TabNav {
background:white url(http://rt.openfoundry.org/img/tab/bg.gif) repeat-x scroll center bottom;
  float:left;
  font-size:93%;
  line-height:normal;
  width:99%;
}
.module_tab ul, #TabNav ul {
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0pt;
  padding:10px 10px 0pt;
}
.module_tab li, #TabNav li {
  background:transparent url(http://rt.openfoundry.org/img/tab/left.gif) no-repeat scroll left top;
  float:left;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0pt;
  padding:0pt 0pt 0pt 9px;
}
.module_tab a, #TabNav a {
  background:transparent url(http://rt.openfoundry.org/img/tab/right.gif) no-repeat scroll right top;
  color:#776655;
  display:block;
  font-weight:bold;
  padding:5px 15px 4px 6px;
  text-decoration:none;
}

.off{
  opacity:0.6; filter:alpha(opacity=60);
}
.on{
  opacity:1.0; filter:alpha(opacity=100);
}

/* For project-release */
#Uploaddirs { overflow:auto;height:250px;width:50%;float:left; }
#Uploadfile_selection { width:50%;float:right; }
#release_file_selection { width:100%;height:250px;}
#ReleaseBasic table {border:solid 2px #DEE7FF;width:100%}

/* For Form Data */
.form-table { width:95%; }
.form-table th { font-weight:bold; height:20px; background:#EFF4FF; }
.form-table td { border-bottom:solid 1px #DFE9FF; height:20px; }

.form-data-dl { width:95%; }
.form-data-dl dt { font-weight:bold; float:left; clear:left; width:30%; height:20px; margin:1px; }
.form-data-dl dd { float:left; width:65%; height:20px; margin:1px;}

/* For Flash */
.flasherror, .flashwarning, .flashnotice, .flashmessage
{
  background:#FFEE9F url(/images/icon/error.gif) no-repeat scroll 10px 7px;
  border:1px solid #FFD71F;
  margin:5px 20px;
  padding:7px 45px;
  font-weight: bold;
}
.flasherror
{
  background-color: #FFCFD8;
  background-image: url(/images/icon/error.png);
  border-color: #EEBEC7;
}
.flashwarning
{
  background-color: #FFEE9F;
  background-image: url(/images/icon/warning.png);
  border-color: #EEDD8E;
}
.flashnotice
{
  background-color: #D1EAEF;
  background-image: url(/images/icon/notice.png);
  border-color: #C0D9DE;
}
.flashmessage
{
  background-color: #E3EFB3;
  background-image: url(/images/icon/message.png);
  border-color: #D2DEA2;
}

/* For RT */
#TicketSearchForm { background:white; border:2px outset; position:absolute; left:0px; display:none; z-index: 9999;}