<div id=generated_captcha_image>
<p><%= _("In case you were not an alian. Please keyin according the image")%>:</p>
<%= link_to_remote "[reload]", :url => {:controller => :images, :action => :reload_code_image},
  :update => "generated_captcha_image" %>
<input id=captcha_code/>
<% tooltip() do -%>
  it is a test~
<% end -%>
<br/>
<img src="<%= url_for(:controller => :images,:action => "code_image") %>"/>
</div>


