<% if(login?) -%>
<%= _("Welcome") %>! <%=current_user.login%>.
<br/>
<%= link_to _("Logout"), { :action => :logout, :controller => :user} %>
<% else -%>
  <%= link_to _('Login'), :controller => :user, :action => 'login' %>
  &nbsp;
  <%= link_to _('Signup'), :controller => 'user', :action => 'signup' %> 
  <br/>
  <%= link_to _('Forgot my password'), :controller => 'user', :action => 'forgot_password' %>
<% end -%>
<br/><br/>
