<div id="ProjectMember">
  <%
    keys = ['Admin', 'Member'] | (@p.keys.sort - ['Admin', 'Member'])
    keys.each do |role|
  %>
    <%= role %>:
    <div>
    <% for p in (@p[role] || []).sort{|a,b| a.login.casecmp(b.login)} -%>
      <%= user_portrait_link(p, :with_login => true, :float => 'left') %>
    <% end -%>
  </div>
  <br/>
  <br/>
  <br/>
    <br clear="all"/>
  <% end -%>
</div>
