<div class="user_password">
  <%= f.hidden_field 'form', :value => 'change_password' %>

  <table>
    <label><%= _('User|Password')%>: </label>
    <%= f.password_field "password", :size => 30 %>
    <br/>
    <label><%= _('User|Password Confirmation')%>: </label>
    <%= f.password_field "password_confirmation", :size => 30 %>
    <br/>
    <%= submit_tag _('User|Change Password') if submit%>
  </table>
</div>                                                                          