<%= error_messages_for 'project' %>

<!--[form:project]-->
<p><label for="project_unixname">Unixname</label><br/>
<%= text_field 'project', 'unixname'  %></p>

<p><label for="project_license">License</label><br/>
<%= select 'project', 'license', Project::LICENSES %></p>
<!--[eoform:project]-->

