<% for column in Project.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @project.send(column.name) %>
</p>
<% end %>

Admins:
<% for admin in @admins %>
<p>
<%= admin.login %>
</p>
<% end %>



Members:
<% if @members.empty? %>
  No member.<br/>
<% else %>
<% for member in @members %>
<p>
<%= member.login %>
</p>
<% end %>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @project %> |
<%= link_to 'Back', :action => 'list' %>
