<p>
Your project creation request "<%= @project_name %>" has been pending!<br />
Please visit the following URL: <%= @project_url %>, or visit your user homepage.<br />
If you have any question, please contact us at <%= OPENFOUNDRY_SITE_ADMIN_EMAIL %>.<br />
<br />
<% if @replymessage != "" -%>
-----------------------------------------------------------------------------------<br />
<br />
<%= @replymessage %><br />
<br />
-----------------------------------------------------------------------------------<br />
<% end -%>
<br />
Thank you.<br />
<br />
OpenFoundry<br />
</p>
