<div id="search_result">
  <h1><%= _('Search Result') %></h1>
  <div id="search">
    <%= render :partial => 'partials/search', :locals =>{:size => 45, :adv => true}%>	
  </div>
  <%if @results%>
  <table class='form-table'>
    <% @results.each do |record| %>
      <tr>
        <%= render(:partial => "#{@lookup[record.class.class_name]}/search_hit", :layout => false, :locals => {:record => record}) %>
      </tr>
    <% end %>
  </table>
  <%else%>
no record!
  <%end%>
</div>
