<%# render( :partial => "tabnav" ) %>
<iframe name="<%= @project.name %>" id="VCS" src="<%= @Path %>" frameborder="0" scrolling="auto" style="border:none; width:700px; height:2000px;" onload="iframe_auto_height(this);"></iframe>
