<div class="rt-block <%= variation%>">
  <div class="rt-module-surround">
    <div class="rt-module-top"><div class="rt-module-top2"><div class="rt-module-top3"></div></div></div>
    <div class="rt-module-inner">
      <div class="module-title"><h2><%= yield :module_title %></h2></div>
      <div class="clear"></div>
      <div class="module-content">
        <%= yield :module_content %>
      </div>
    </div>
    <div class="rt-module-bottom"><div class="rt-module-bottom2"><div class="rt-module-bottom3"></div></div></div>
  </div>
</div>
