<div id='Home'>
  <%#=render :partial => 'myissues', :locals => { :allrtoptions => @allrtoptions, :rss => @rss, :uname => @name } %>
  <%=render :partial => 'myissuesRit', :locals => { :allrtoptions => @allrtoptions, :rit=>@rit, :uname => @name } %>
  <%=render :partial => 'myprojects', :locals => { :my_projects => @my_projects } %>
  <%#=return @current_user.inspect if instance_variable_defined? "@current_user"%>
</div>

