
<div id="RightWidget">
  <div id="HomeRight">
  </div>
</div>
<div id="Home">
  <%= render :partial => 'projects/new_projects', :locals => {:projectList => Project.new_projects} %>
  <%= render :partial => "releases/new_releases", :locals => {:newReleasesList => Release.new_releases}%>    
  <%= render :partial => 'releases/most_popular', :locals => {:downloadList => Release.top_download} %>
  <%= render :partial => "news/listn", :locals => {:newsList => News.ProjectNews}%>
  <div>
  </div>
</div>
