LoadModule python_module libexec/apache22/mod_python.so

NameVirtualHost *:80


<VirtualHost *:80>
    #ServerName viewvc.of.openfoundry.org
    #ServerAlias --VIEWVC_SERVER_ALIAS_HOST--
    # 
    # Since Pound doesn't alter the host header for us,
    # we will receive the host name of the frontend site.
    #
    ServerName #{VIEWVC_HOST_NAME}

    Alias #{VIEWVC_URL_PREFIX} /usr/local/viewvc/bin/mod_python/viewvc.py
    <Location #{VIEWVC_URL_PREFIX}>
        SetHandler mod_python
        PythonHandler handler
        PythonPath "['/usr/local/viewvc/lib', '/usr/local/viewvc/bin/mod_python' ] + sys.path"

#        AllowOverride None
        Order allow,deny
        Allow from all
    </Location>
</VirtualHost>

