NameVirtualHost *:80
<VirtualHost *:80>
    # external visible host name
    ServerName #{SVN_HOST_NAME}
  
    #RewriteOptions Inherit 
    <Location #{SVN_URL_PREFIX}>
        DAV svn
        SVNParentPath #{REPOS_PARENT_DIR}

        SVNPathAuthz on
        AuthzSVNAccessFile #{SVN_ACCESS_FILE}

        Satisfy Any
        Require valid-user

        AuthType Basic
        AuthName "Subversion repository"
        AuthUserFile #{SVN_AUTH_FILE}
    </Location>
</VirtualHost>

