{
	"DUMP_SOURCE_URL": "http://192.168.0.20:3000/openfoundry/foundry_dump?secret=",
	"DUMP_SECRET": "###########",


	"JSON_DUMP_CACHE_PATH": "/usr/local/vcs/etc/openfoundry_dump.json",
	"ROOT_JSON_DUMP_CACHE_PATH": "/usr/local/vcs/etc/openfoundry_dump_root.json",
	"JSON_DUMP_REFRESH_INTERVAL": 600,

	"NSS_DATABASE": "auth",
	"NSS_DATABASE_ROOT_USER": "nss-root",
	"NSS_DATABASE_ROOT_PASSWORD": "nss-root-pass",
	"NSS_DATABASE_USER_USER": "nss-user",
	"NSS_DATABASE_USER_PASSWORD": "nss-user-pass",

	"CVSROOT": "/cvs",
	"CVS_OWNER": 80,
	"CVS_GROUP": 80,
	"ANONYMOUS_CVS_ACCOUNT": "cvs",

	"SVN_PARENT_PATH": "/svn",
	"SVN_OWNER": 80,
	"SVN_GROUP": 80,
	"SVN_HOST": "svn.openfoundry.org",
	"SVN_BACKUP_PATH": "/svn/.backup",

	"VIEWVC_HOST": "viewvc.of.openfoundry.org"
}
