<script type="text/javascript">
<!--
  window.onload=function(){
    Effect.BlindUp('more');
  }
//-->
</script>

<%  def rows(i = 0, *data)
    rtn = ""
    while ( ! data.empty? )
      h = data.shift
      d = data.shift

      rtn += %Q!<tr class="#{["odd", "even"][i = 1 - i]}"><td width="20%">#{h}</td><td width="80%">#{d}</td></tr>\n!
    end
    rtn
end %>

<%  def show_with_seperator(v) 
    "#{v}".split(",").grep(/./).map { |ele|
      content_tag(:span, ele)
    }.join(", ") 
end %>

<div id="ProjectBasic">  
  <fieldset>
    <div id="basic">
    <table class="list-table">
    <%= rows(0,
      * ([ 
      _("Project|Summary"), content_tag(:span, @project.summary),
      _("Project|License"), @project.licenses_to_s.map {|i_s| i_s[0] > 0 ? link_to(i_s[1], _("url_link_for_#{i_s[1]}"), :target => "_blank") : _("#{i_s[1]}")}.join("<br/>\n"), 
      _("Project|Programminglanguage"), show_with_seperator(@project.programminglanguage),
      ] ) )
    %>
  </table>
  </div>
  <div id="more">
    <table class="list-table">
    <%= rows(1, 
      * ([ 
      _("Project|Name"), content_tag(:span, @project.name),
      _("Project|Description"), content_tag(:span, nl2br(h @project.description)),
      _("Project|HOMEPAGE"), (url = OPENFOUNDRY_HOMEPAGE_URL % @project.name; link_to url, url, :target => "_blank"),
      _("Project|Contactinfo"), (h @project.contactinfo),  
      _("Project|Maturity"), (h @project.maturity_to_s),
      _("Project|Contentlicense"), @project.content_licenses_to_s.map {|i_s| i_s[0] > 0 ? link_to(i_s[1] + " " + cc_images(i_s[0]), _("url_link_for_#{i_s[1]}"), :target => "_blank") : _("#{i_s[1]}")}.join("<br/>\n"), 
      _("Project|Licensingdescription"), (h @project.licensingdescription), 
      _("Project|Platform"), show_with_seperator(@project.platform),
      _("Project|Vcs"), (h @project.vcs_to_s), 
      _("Project|Vcsdescription"), (auto_link(simple_format(h @project.vcsdescription))),
      _("Project|Creator"),  ((u = User.find_by_id(@project.creator)) ? user_portrait_link(u, :with_login => true) : ""),
      _("Project|Created at"), content_tag(:span, tz_datetime(@project.created_at), :content => tz_date(@project.created_at)),
      ] + (@nsccode.empty?() ? [] : [ _("Project|Nsccode"), h(@nsccode)]) ) )
    %>
  </table>
  </div>
  <a id ="mr" href="#" onclick="Effect.BlindDown('more'); Effect.Fade('mr'); Effect.Grow('le', {direction:'center'}); return false" style="padding:8px;float:right"><%= _('More...') %></a>
  <a id ="le" href="#" onclick="Effect.BlindUp('more'); Effect.Grow('mr', {direction:'bottom-left'}); Effect.Fade('le'); return false" style="display:none;padding:8px;float:right"><%= _('Less...') %></a>
  </fieldset>
</div>
