<div id="ProjectNew">
<%= "<em>(" + required_icon() + _("required_icon") + ")</em>"%>
<% form_tag :action => 'create' do %>
  <%= render :partial => 'form', :locals => { :is_edit => false } %>
  <%= submit_tag _("Create") %>
<% end %>
</div>
