<div id="ProjectEdit">

<% form_tag url_for(:action => 'update', :id => @project), :method => 'put' do %>
  <%= render :partial => 'form', :locals => { :is_edit => true } %>
  <%= submit_tag _('Save') %>
<% end %>

<!-- tags was here ... -->

</div>
