<div id="Home">
	<h1>Openfoundry#Search Result</h1>
	<h1>Search Hits: <%= @result[0].total_hits + @result[1].total_hits %></h1>
	<% @result.each { |search_result|%>
		<% search_result.each { |item| %>
			<%= item.inspect%>
		<% } %>
	<% } %>
</div>
