  <ul>
    <%for news in newsList %>
    <li>
      <%= link_to news.subject, news1_path(:id => news.id, :project_id => news.catid) %>
    </li>
    <%end %>
  </ul>
  <%=link_to "更多", :controller => "news", :action => "project" %>