<!--search hit-->
<td>
  <%= content_tag 'label', record.subject%>
</td>
<td>
  <%= content_tag 'label', record.highlight(@query, {:field => 'description' 
                                                     }) %>
</td>
<!--search hit end-->
