<div id="Flash"><%= show_flash %></div>
  <div id="module_rt">
    <div id="module_nav">
      <div id="module_nav_center">
        <div id="module_nav_right">
          <h3><%=@module_name%></h3>
          <div id="module_nav_tab">
            
          </div>
        </div>
      </div>
    </div>
    <div id="module_content">
    <%= yield %>
    </div>
  </div>