<!--search hit-->
<td>
  <img src="<%= url_for(:controller => :images,:action => "cached_image", :id => "#{record.icon}_32") %>"/>
</td>
<td>
  <a href="<%= project_url(:id => record.id) %>"><%= h record.name %></a>
</td>
<td>
  <%= h record.summary %>
</td>
<!--search hit end-->
