<div id="ProjectNew">
<%= "<em>(" + required_icon() + _("required_icon") + ")</em>"%>
<% form_tag :action => 'create' do %>
  <%= render :partial => 'form', :locals => { :is_edit => false } %>
  <%=hidden_field_tag '__clibeanna' %>
  <input type="button" value="<%=_( 'Create' ) %>" onclick="javascript: __premark(); submit();">
  <%#= submit_tag _('Create') %>
<% end %>
</div>
