<h3>
  <%= image_tag "#{root_path}/icon06.gif", :align => "left" %>
    <%=_('Most Active')%>
</h3>
<ul>
  <li>Create Animation Make a</li>
  <li>TinyTux with Pho ... Make a</li>
  <li>Buddy Make a porthole !</li>
</ul>
