* {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
}

body {
  background-color:#EEE;
	margin: 0px;
  font-size:114%;
}

/* For Content */
h1 { font-size:20px; }
h2 { font-size:18px; }
h3 { font-size:16px; }
h4 { font-size:14px; }
h1, h2, h3, h4 { color:#31659C; }
input[type="button"], input[type="submit"], input[type="reset"] { color:#31659C; background-color:#C6D3F7; }
label { font-weight:bold; }
fieldset { border:solid 2px #DEE7FF; }
fieldset legend { font-weight:bold; color:#4265DE; }
a:hover {
  color: #577FE3;
  border-bottom: dotted 1px #333;
}
a {
  text-decoration: none;
  color: #0D356F;
}
textarea {
  height:100px;
  width:500px
}

/* Left menu */
#LeftMenu>ul {
	padding: 0px;
	margin: 0px;
}

#LeftMenu>ul>li {
	display: block;
	padding-left: 20px;
	background: url(http://www.openfoundry.org/templates/rt_versatility_ii_sienna/images/play.png) no-repeat;
	margin-bottom: 3px;
	list-style-type: none;
}

#LeftWidget {
  padding:5px;
  float:left;
  left:0px;	
  width:16%;
  overflow:hidden;
}

#RightWidget {
  float:right;
  width:34%;
  overflow:hidden;	
}
#RightWidget h1 { font-size:14px; }

#MainContent {
  margin-top:8px;
  float:left;
  width:81%;
}

#MainBody {
}

#Home {
	width:65%;
}

#Footer {
  padding:30px 0px 10px 0px;
  text-align:center;
  clear:both;
  width:100%;
  float:right;
}


/* For Project */
#ProjectNew p label, #ProjectEdit p label, #ProjectEdit fieldset label, .form-padding label
  { margin-left:-20px; }
.form-padding label
  { margin-left:-20px; display:block; }
#ProjectNew p, #ProjectEdit p, #ProjectEdit fieldset, .form-padding
  { padding-left:20px; }
#ProjectNew :focus, #ProjectEdit :focus
  { color:red; }
/*#ProjectList img { width:32px; height:32px; display:none; }*/
#ProjectList table { border-collapse:collapse; width:99%; margin:2px; }
#ProjectList td, #ProjectList th { padding:5px; border:solid 1px black; } 
#ProjectList th { background-color:#DEE7FF; }
#ProjectBasic dt { font-weight:bold; }
#TabNav { border-bottom:solid 2px #DEE7FF; }
#TabNav {
background:white url(http://rt.openfoundry.org/img/tab/bg.gif) repeat-x scroll center bottom;
float:left;
font-size:93%;
line-height:normal;
width:99%;
}
#TabNav ul {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0pt;
padding:10px 10px 0pt;
}
#TabNav li {
background:transparent url(http://rt.openfoundry.org/img/tab/left.gif) no-repeat scroll left top;
float:left;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0pt;
padding:0pt 0pt 0pt 9px;
}
#TabNav a {
background:transparent url(http://rt.openfoundry.org/img/tab/right.gif) no-repeat scroll right top;
color:#776655;
display:block;
font-weight:bold;
padding:5px 15px 4px 6px;
text-decoration:none;
}

/* For project-release */
#Uploaddirs { overflow:auto;height:250px;width:50%;float:left; }
#Uploadfile_selection { width:50%;float:right; }
#release_file_selection { width:100%;height:250px;}
#ReleaseBasic table {border:solid 2px #DEE7FF;width:100%}

/* For News */
#home_news li a{
  font-size: 114%;
}
#home_news li:first-child a{
  font-weight: bold;
  font-size: 160%;
}
