<div id='Home'>
  <%=render :partial => 'myissues', :locals => { :allrtoptions => @allrtoptions, :rss => @rss, :uname => @name } %>
  <%=render :partial => 'myprojects', :locals => { :my_projects => @my_projects } %>
</div>

