<div id="ProjectEdit">
<% form_tag url_for(:action => 'update', :id => @project), :method => 'put' do %>
  <%= render :partial => 'form', :locals => { :is_edit => true } %>
  <%=hidden_field_tag '__clibeanna' %>
  <input type="button" value="<%=_( 'Save' ) %>" onclick="javascript: __premark(); submit();">
<% end %>
</div>
