  <h3>專案新聞<%#=link_to_remote( "<img src='http://publib.boulder.ibm.com/infocenter/tivihelp/v10r1/topic/com.ibm.ccmdb.doc/cmdb_user/images/icon_reload.gif' style='border:none;' border='0'></img>", :update => "home_news", :url => { :controller => 'news', :action => '_home_news' } ) %></h3>
  <ul>
    <%for news in newsList %>
    <li>
      <%= link_to news.subject, news1_url(:id => news.id, :project_id => news.catid) %>
    </li>
    <%end %>
  </ul>
  <%=link_to "更多", :controller => "news", :action => "list" %>