<h1><%=@news.subject%></h1>

<% form_tag :action => 'update', :id => @news do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to '詳全文', :action => 'show', :id => @news %> |
<%= link_to '回列表', :action => 'list' %> | 
<%= link_to '首頁', :controller => 'openfoundry' %>
