<h1>Project New Release</h1>
<p class=ReleaseBasic>
  <% form_for :release, @release, :url => {:action => :create} do |f|%>
    <%= arranged('ReleaseNew', @release, {
        :editable => f,
        :fields_per_column =>1 
      }) %>
    <%= submit_tag "Create" %>
  <% end %>
</p>
