<div class="user_email">
  <%= f.hidden_field 'form', :value => 'change_email' %>

  <table class='form-table'>
    <%= f.label :email, _('User|Email')+':' , :must => true%>
    <%= f.text_field "email", :size => 30 %>
    <%= f.label :email_confirmation, _('User|Email Confirmation')+':', :must => true%>
    <%= f.text_field "email_confirmation", :size => 30 %>
  </table>
    <%= submit_tag _('User|Change Email'), "class" => "button" if submit%>
</div>      
