<div>
  <% users.each_with_index do |user, i| %>
    <% r_u_id = "role_0_user_#{user.id}" %>
    <div class="RolesUsersSelection" id="<%= r_u_id %>">
      <%= render :partial => "projects/roles_users_selection", :locals => {:user => user} %>
    </div>
    <%= draggable_element r_u_id, :revert => true, :scroll => 'window' %>
  <% end %>
  <br clear="all"/>
</div>
