<script language="JavaScript">
  <!--
  　var data = eval('(' + request.responseText + ')')
    document.write(data)
  //--> 
</script> 
<%form_tag(:action => :fetch) do%>
  <h3>fetch a tag</h3>
  tag_id:
  <%= text_field_tag :tag_id %>
  <%= submit_tag :submit %>
<%end%>

