hi, admin!
<br/>

<%= link_to _("Project"), :controller => "project" %>
<%= link_to _("News"), :controller => "news" %>
<%= link_to _("User"), :controller => "user" %>
<br/>
BE CAREFUL! for data sync only...
<%= link_to _("Resend Stomp msg for ALL MODELS"), :action => :resend %>
