
<dl>
<dt><%= _('My Projects')%>:</dt>
<dd>
<% @my_projects.each do |p| %>
  <img src="<%= url_for(:controller => :images, :action => "image", :id => p.icon, :size => 32) %>"/>
  <%= link_to p.name, project_path(p.id) %>
<% end %>
</dd>

<dt><%= _('My Partners')%>:</dt>
<dd>
<% @my_partners.each do |p| %>
  <img src="<%= url_for(:controller => :images, :action => "image", :id => p.icon, :size => 32) %>"/>
<% end %>
</dd>
</dl>
